.vrf-promo {
  padding: 40px 0;
  background: linear-gradient(266.12deg, #bdc3c7 0%, #2c3e50 100%);
  position: relative;
  min-height: 600px;

  .breadcrumbs a {
    &:not(:hover) {
      color: #fff;
    }
  }

  .breadcrumbs__item::after {
    color: #fff;
  }
}

.vrf-promo__title {
  font-size: 48px;
  line-height: 58px;
  color: #fff;
  width: 695px;
  max-width: 50%;
  padding-top: 18px;
  margin: 0 0 20px;
}

.vrf-promo__text {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0 30px;
  width: 672px;
  max-width: 50%;
}

.vrf-promo__img-block {
  position: absolute;
  top: calc(50% + 10px);
  right: 0;
  width: 49.5%;
  max-width: 950px;
  transform: translateY(-50%);
}

.vrf-promo__img-block-inner {
  width: 100%;
  padding-top: 55%;
  background-image: url('../img/vrf-units.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 1599px) {
  .vrf-promo {
    padding-top: 25px;
  }
}

@include tablet {
  .vrf-promo {
    .container {
      display: flex;
      flex-direction: column;
    }

    .breadcrumbs {
      order: 1;
    }

    .btn {
      order: 5;
      width: max-content;
    }

    .breadcrumbs__item {
      display: inline-block;
    }
  }

  .vrf-promo__img-block {
    position: static;
    transform: none;
    order: 2;
    align-self: center;
    width: 100%;
  }

  .vrf-promo__title {
    order: 3;
    padding-top: 45px;
    font-size: 40px;
    line-height: 48px;
    max-width: none;
  }

  .vrf-promo__text {
    order: 4;
    max-width: none;
  }
}

@media (max-width: 959px) {
  .vrf-promo {
    padding-top: 50px;
  }
}

@include mobile {
  .vrf-promo {
    padding-top: 40px;
    text-align: center;

    .btn {
      margin: 0 auto;
    }

    .breadcrumbs {
      text-align: left;
    }
  }

  .vrf-promo__img-block {
    margin-top: 24px;
  }

  .vrf-promo__title {
    padding-top: 40px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 15px;
    width: auto;
  }

  .vrf-promo__text {
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 25px;
    width: auto;
  }
}
