.vrf-systems {
  margin: 0 0 120px;
}

.vrf-systems__title {
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 90px;
}

.vrf-systems__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 90px;
  border-bottom: 1px solid #dddddd;

  &:not(:last-child) {
    margin-bottom: 90px;
  }
}

.vrf-systems__item-info {
  max-width: 575px;
}

.vrf-systems__item-logo {
  margin: 0 0 48px;
}

.vrf-systems__item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 15px;
}

.vrf-systems__item-desc {
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 15px;
}

.vrf-systems__item-select {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #00a1e4;
  border: none;
}

.vrf-systems__item-units {
  display: flex;
  justify-content: space-between;
}

.vrf-systems__item-unit {
  padding: 24px;
  border-radius: 8px;
  width: 337px;
  background: #ddd;

  &:first-child {
    margin-right: 20px;
  }

  &.daikin {
    background: linear-gradient(149.32deg, #2d92b4 1.1%, #77b0e5 100%);
  }

  &.kentatsu {
    background: linear-gradient(149.32deg, #ed213a 1.1%, #93291e 100%);
  }

  &.bosch {
    background: linear-gradient(149.32deg, #50237f 1.1%, #005691 100%);
  }

  &.midea {
    background: linear-gradient(149.32deg, #00a1ed 1.1%, #0075ac 100%);
  }
}

.vrf-systems__item-unit-img {
  max-width: 289px;
  height: auto;
  margin: 0 0 34px;
}

.vrf-systems__item-unit-link {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: none;
  display: block;

  span {
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
  }

  svg {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.vrf-systems__item-info + .vrf-systems__item-units {
  margin-left: 40px;
}

.vrf-systems__item-units + .vrf-systems__item-info {
  margin-left: 40px;
}

@include tablet {
  .vrf-systems__item {
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(2n) {
      flex-direction: column-reverse;
    }
  }

  .vrf-systems__item-info {
    max-width: none;
  }

  .vrf-systems__item-info + .vrf-systems__item-units {
    margin-left: 0;
    margin-top: 40px;
  }

  .vrf-systems__item-units {
    margin-top: 40px;
  }

  .vrf-systems__item-units + .vrf-systems__item-info {
    margin-left: 0;
  }
}

@include mobile {
  .vrf-systems {
    margin-bottom: 60px;
  }

  .vrf-systems__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 0 0 30px;
  }

  .vrf-systems__item {
    padding-bottom: 30px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .vrf-systems__item-info {
    text-align: center;
  }

  .vrf-systems__item-units {
    flex-direction: column;
    width: 100%;
  }

  .vrf-systems__item-unit {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 8px;

    &:nth-child(n) {
      margin-right: 0;
    }

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .vrf-systems__item-unit-img {
    height: auto;
    width: 32.3%;
    flex-shrink: 0;
    margin: 0;
    margin-right: 23px;
  }

  .vrf-systems__item-unit-link {
    font-size: 15px;
    line-height: 18px;

    svg {
      display: none;
    }
  }
}
